<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<table border='1'>
		<tr>
			<td colspan='2'>
				<img src="/images/logo_itwill.png">
			</td>
		</tr>
		<tr>
			<td colspan='2'>[My shop 주문서]</td>
		</tr>
		<tr>
			<th>주문서번호</th>
			<td></td>
		</tr>
		<tr>
			<th>수령인</th>
			<td></td>
		</tr>
		<tr>
			<th>배송지</th>
			<td></td>
		</tr>
		<tr>
			<th>배송 메세지</th>
			<td></td>
		</tr>
		<tr>
			<th>결제</th>
			<td></td>
		</tr>
		<tr>
			<th>결제일</th>
			<td></td>
		</tr>
	</table>
	
	<table border='1'>
		<tr>
			<td colspan='4'>주/문/상/품/목/록</td>
		</tr>
		<tr>
			<td>상품명</td>
			<td>단가</td>
			<td>수량</td>
			<td>가격</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan='3'>총금액</td>
			<td></td>
		</tr>
	</table>
</body>
</html>